* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts */

/* NavBar */

.navbar--navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.navbar--logo {
    margin-left: 150px;
}

.navbar--logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar--left_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar--left_menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar--left_menu li {
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding: 0px 35px;
}

/* Hero Image */

.hero--hero-image {
    position: relative;
    height: 100vh;
}

.hero--Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Hero Content */

.hero--headline {
    position: absolute;
    top: 30vh;
    width: 100%;
    color: white;
    text-align: center;
}

.hero--headline h1 span {
    display: block; /* Make spans block-level to create line breaks */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hero--HL-small {
    font-size: 3vw;
    font-weight: 100;    
}

#hero--HL-large {
    font-size: 6vw;
    font-weight: bold;
    color: #FAA440;
}

.hero--paragraph {
    position: relative;
    width: 100%;
    font-weight: 100;
    bottom: 25vh;
}

.hero--paragraph p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

.hero--shop-btn {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 24vh;
    
}

.hero--shop-btn-container {
    padding: 10px 30px;
    font-size: 1.3vw;
    font-weight: bold;
    color: white;
    background-color: #420400;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    display: flex;  
    align-items: center;
    justify-content: space-between;
}
.hero--shop-btn-container span {
    margin-left: 10px;
}


/* Media Queries */

/* Tablets*/
/* Medium screens (small tablets) */
@media only screen and (min-width: 481px) and (max-width: 980px) {

    /* NavBar */
    .navbar--navbar {
        height: 125px;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        background-color: #0B0B0D;
    }
    .navbar--logo {
        width: 115px;
        margin-left: 0;
    }

    .navbar--left_menu {
        padding-top: 10px;
        width: 100%;
    }

    .navbar--left_menu ul {
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
    }

    .navbar--left_menu li {
        margin-right: 0;
    }
    
    /* Hero Image */
    .hero--hero-image {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .hero--Image {
        height: 100%;
    }    
    
    /* Hero Content */
    #hero--HL-small {
        font-size: 4vw;
    }
    
    #hero--HL-large {
        font-size: 7vw;
    }

    .hero--paragraph {
        bottom: 40vh;
    }

    .hero--paragraph p {
        font-size: 2vw;
    }

    .hero--shop-btn {
        bottom: 39vh;
    }

    .hero--shop-btn-container {
        padding: 10px 30px;
    }

    #hero--cart-btn-img {   
        height: 20px;
    }

}