* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts */

/* NavBar */

.navbar--navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0B0B0D;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.navbar--logo {
    margin-left: 150px;
}

.navbar--logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar--left_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar--left_menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar--left_menu li{
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding-right: 35px;
}

/* Hero Image */

.hero--hero-image {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero--Image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Hero Content */

.hero--headline {
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    text-align: center;
}

.hero--headline h1 span {
    display: block; /* Make spans block-level to create line breaks */
    margin-top: 10px; /* Adjust the margin between spans as needed */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hero--HL-small {
    font-size: 35px;
    font-weight: 100;    
}

#hero--HL-large {
    font-size: 72px;
    font-weight: bold;
    color: #FAA440;
}
